body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

}
.container_one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    flex: 1;
    align-items: center;
    gap: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-top: 4px;
    align-items: baseline;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin-left: 16px;
}

.awesome-image {
    display: flex;
    align-items: center;
    width: 650px;
    margin-bottom: 50px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 16px;
}

.header-logo, .call-toaction {
    font-size: 24px;
}

.header-logo {
    vertical-align: bottom;
}

.header-links {
    font-size: smaller
}

.call-toaction {
    font-weight: bolder;
}

button, .blue-box {
    background-color: #3882f6;
    color: #E5E7EB;

    align-items: center;
}

button {
    border-color: white;
    border-radius: 5px;
    padding: 4px 24px;

}
.random-info {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 30px;
}
.container_two {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container_three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.blue-box {
    display: flex;
}
.container_four{
    display: flex;
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.quote-text {
    color: #1F2937;
    font-size: 24px;
    width: 500px;
    margin-top: 30px;
}

.thor-name {
    width: 500px;
    text-align: right;
    margin-bottom: 30px;
    font-weight: bold;
}

.container_two {
    align-items: center;
}

.container_three {
    align-items: center;
    justify-content: center;
}

.blue-box {
    width: 650px;
    height: 100px;
    padding: 16px;
    border-radius: 10px;
    justify-content: center;
    gap: 25px;

}
.illustration-one {
    width: 100px;
    height: 100px;
    border: solid #3882F6;
    border-radius: 10px;
}

.image-text {
    width: 100px;
    font-size: 12px;
    text-align: center;
}

.illustration-subtext {
    display: flex;
    gap: 32px;
    padding-bottom: 30px;
}

.container_five {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px;
    font-size: smaller;
}

.some-subtext {
    padding-top: 4px;
}